{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "extensions": [".js"],
      "alias": {
        "screens": "./src/screens",
        "actions": "./src/actions",
        "reducers": "./src/reducers",
        "store": "./src/stores",
        "components": "./src/components",
        "constants" : "./src/constants",
        "utils": "./src/utils",
        "images": "./images"
      }
    }]
  ]
}
